@mixin position($left: 15px, $transform: translateY(-50%)) {
  position: absolute;
  top: 50%;
  left: $left;
  transform: $transform;
}

.home_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: var(--home-border);
  box-shadow: var(--shadow);
  width: var(--home-width);
  background-color: var(--card-color);
}

.title {
  font: var(--font-l);
  color: var(--violet);
}

.select {
  position: relative;
}

.select_field {
  cursor: pointer;
  border: 1px solid var(--field-border);
  width: 100%;
  padding: 15px 50px;
  border-radius: 3px;
  appearance: none;
}

.arrow {
  @include position(auto);
  right: 15px;
}

.placeholder {
  @include position();
  color: var(--black);
}

.picture {
  @include position();
}

.loading {
  @include position(50%, translate(-50%, -50%));
  color: var(--grey);
}
