.theme_toggler {
  cursor: pointer;
  position: fixed;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: var(--shadow);
}
